#menuToggle {
    display: block;
    /* position: absolute; */
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle .input {
    display: block;
    width: 100px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
   * Just a quick hamburger
   */

#menuToggle span {
    text-align: center;
    left: 35%;
    top: 25%;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle .input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

#menuToggle .input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle .input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 25rem;
    margin: -100px 0 0 0;
    padding: 3rem 2rem 5rem 2rem;
    margin-top: -50px;
    border-radius: 25px;
    right: -100px;
    background-color: #03004A;
    /* background-repeat: repeat-y; */
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle .input:checked~ul {
    transform: none;
    opacity: 1;
}

.profile_img {
    width: 5rem;
    margin: 0 auto;
}

.drowar_point_img {
    width: 3rem;
}

.drawer_text {
    font-size: .8rem;
}

.profile_settings_home {
    border: 1px solid #313057;
    padding: .5rem;
    border-radius: .5rem;
    height: 2rem;
    margin-bottom: .5rem;
    font-size: .9rem;
}

.input_select {
    width: 8rem !important
}

.input__form {
    height: 2rem;
    border: 1px solid #313057;
    background-color: #03004A
}

@media screen and (max-width: 768px) {
    #menu {
        transform: none;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
}