* {
  margin: 0;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-image: url(../assets/img/bg.png);
  background-repeat: repeat;
  font-family: Roboto;
  margin: 0;
}

.home {
  background-image: url("../assets/img/image-bg.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
}

.nav {
  /* margin: 0 auto; */
  max-width: 30rem;
  min-width: 25rem;
}

.nav a {
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.8;
  height: 40px;
}

.nav a:hover {
  border-bottom: 3px solid #ffce00;
  opacity: 1;
}

.active {
  border-bottom: 3px solid #ffce00;
  opacity: 1 !important;
}

.opacity {
  opacity: 0.8;
}

content {
  margin: 5rem 0 0 0;
}

.language_btn {
  margin-top: -10px;
}

.language_btn:hover, .burger_menu:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
}

.burger_menu {
  background-color: #333ca5;
  /* background-image:url(../assets/svg/burger.svg); */
  width: 80px;
  align-self: flex-end;
  height: 50px;
  border-width: 0px;
  border-radius: 100% 0 0 100% / 50%;
}

.title_header {
  width: 430px;
  margin: 7% 0 0 9%;
}

.typography_3 {
  font-size: 1.6rem;
  margin: 0;
}

.typography_4 {
  font-size: 1rem;
  margin: 0;
}

.typography_5 {
  font-size: 0.7rem;
  margin: 0;
}

.btn-grad {
  background-image: linear-gradient(to right, #f20074 0%, #d1158c 30%, #7446ac 70%);
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad {
  padding: 5px 0;
  width: 8rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 40px;
  display: block;
  border-width: 0;
}

.download_tittle {
  margin-top: 450px;
}

.scroll_image {
  height: 30rem;
}

.center {
  margin: 0 auto;
}

.w80 {
  width: 80%;
}

.contact_us {
  width: 45%;
}

.footer {
  margin-top: 5rem;
  border-radius: 0 50px 0 50px;
  margin-bottom: -10rem;
}

.popular_course {
  width: 13rem;
  margin: 0.5rem 1.5rem 0.5rem 0;
  /* margin: 0 1rem; */
}

.courses_container {
  overflow-x: scroll;
  margin-bottom: 3rem;
}

.courses_container::-webkit-scrollbar {
  width: 12px;
}

.courses_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272a69;
  border-radius: 10px;
  margin: 0 5rem;
}

.courses_container::-webkit-scrollbar-thumb {
  background-color: #ffce00;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.courses_container_wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 75vh;
}

.form input, .form input:focus {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 110vw;
    width: 110%;
    margin-bottom: 8em;
  }
  .nav {
    max-width: 2rem;
    min-width: 5rem;
  }
  .nav a {
    border-bottom: 1px solid #fff;
    margin-top: 0.5rem;
  }
  .download_tittle {
    margin-top: 2rem;
  }
  .burger_menu {
    margin-top: -rem;
  }
  .language_btn {
    margin-top: -0.5rem;
  }
  .contact_us {
    width: 90%;
    height: 8rem;
    margin-top: 2rem;
  }
  .courses_container::-webkit-scrollbar-track {
    margin: 0 0.5rem;
  }
}