.hi-slider_main {
    position: relative;
    width: 754px;
    height: 292px;
    margin: 115px auto 0;
    margin-top: -3rem;
    margin-bottom: 7rem;
}

.sliderMain {
    margin-top: 2rem;
}
.hi-slider_main .hi-next:hover,
.hi-slider_main .hi-prev:hover {
    opacity: 1;
}

.hi-slider_main > ul {
    list-style: none;
    position: relative;
    width: 100%;
    height: 292px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.hi-slider_main > ul > li {
    /* overflow: hidden; */
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.hi-slider_main > ul > li > img {
    width: 100%;
    height: 100%;
    padding: 5%;
    background-position: center;
}

.hi-slider_main .hi-next {
    background-image: url(../assets/svg/back_biology.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

.hi-slider_main .hi-prev {
    background-image: url(../assets/svg/next_biology.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

@media only screen and (max-width: 600px) {
    .sliderMain {
        padding: 5%;
        width: 100%;
        margin: 1rem 0 0.5rem 2rem;
    }
    .hi-slider_main {
        width: 90%;
        margin: 1rem 0 8rem 0.5rem !important;
    }
}
