.stage{
    background-image: url(../assets/img/stage_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh
}

.return_button{
    background:linear-gradient(#5A549D, #4B468F);
    width: 150px;
    align-self: flex-end;
    height: 80px;
    border-width: 0px;
    border-radius: 0 100% 100% 0 / 50%;
    align-self:flex-start;
    font-size:.9rem;
    margin-top: -3% !important
}
.course_container{
    margin-top: -3% !important
}
.course_img{
    width: 280px;
}
.rating_container{
    margin: -1.5% 0 0 3%;
}
.box_statics{
    background-image:url(../assets/svg/card_bg.svg);
    width:110px;
    border:.1px solid #FFFFFF;
}
.report_card{
    margin-left: 1%;
}
.contenue_btn{
    background-color:#EC6418;
    border:1px solid #707070;
    width: 25%;
}
h6{
    font-size: .9rem;
}
p{
    font-size: .8rem;
}
.table_course{
    background-image: url('../assets//svg/table_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    height: 60vh;
}
.table_course::-webkit-scrollbar {
    width: 12px;
}

.table_course::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #272A69;
    border-radius: 10px;
}

.table_course::-webkit-scrollbar-thumb {
    background-color:#FFCE00;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.table_index{
    margin-left: 3%;
}
.lesson_embed{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  62vh;
    background-image: url('../assets//svg/table_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-top: -5%;
}
.box_rating{
    background-image:url(../assets/svg/card_bg.svg);
    width:45px;
    height:45px;
    /* border:.1px solid #FFFFFF; */
}
.lesson {
    border-bottom: .01px solid #707070 !important  
}
.video_stream{
    width: 100%;
    height: 100%;
    padding: .5rem;
display: flex;
justify-content: center;
align-items: center;

}
.quize_container{
    margin-top: -10%;
}
/**************************************/
/* The checkbox */
.check_box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border:.5px solid rgb(224, 212, 212);
    /* background-color: #eee; */
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check_box input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check_box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .add_file{
      /* width: 200px; */
    padding:5% 18% 5% 18%!important;
    background-image:url(../assets/svg/card_bg.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
  }

  .rate_student{
      background-color: #252637;
      border:5px solid #474A65;
      padding:5px;
      width: 45px;
      height: 45px;
      text-align: center;
  }
@media only screen and (max-width: 600px) {
    .stage{
      background-image: url(../assets/svg/mobile_bg.svg);
      background-repeat: no-repeat;
      background-size: 100%
      /* margin:-20px */
  }
  
  
  }