.stage{
    background-image: url(../assets/img/stage_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh
}

.return_button{
    background:linear-gradient(#5A549D, #4B468F);
    width: 150px;
    align-self: flex-end;
    height: 80px;
    border-width: 0px;
    border-radius: 0 100% 100% 0 / 50%;
    align-self:flex-start;
    font-size:.9rem;
    margin-top: -3% !important
}
.course_container{
    margin-top: -3% !important
}
.course_img{
    width: 280px;
}
.rating_container{
    margin: -1.5% 0 0 3%;
}
.box_statics{
    background-image:url(../assets/svg/card_bg.svg);
    width:110px;
    border:.1px solid #FFFFFF;
}
.report_card{
    margin-left: 1%;
}
.contenue_btn{
    background-color:#EC6418;
    border:1px solid #707070;
    width: 25%;
}
h6{
    font-size: .9rem;
}
p{
    font-size: .8rem;
}
.table_course{
    background-image: url('../assets//svg/table_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    height: 60vh;
}
.table_course::-webkit-scrollbar {
    width: 12px;
}

.table_course::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #272A69;
    border-radius: 10px;
}

.table_course::-webkit-scrollbar-thumb {
    background-color:#FFCE00;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.table_index{
    margin-left: 3%;
}
.lesson_embed{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  62vh;
    background-image: url('../assets//svg/table_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-top: -5%;
}
.box_rating{
    background-image:url(../assets/svg/card_bg.svg);
    width:45px;
    height:45px;
    /* border:.1px solid #FFFFFF; */
}
.lesson {
    border-bottom: .01px solid #707070 !important  
}
.video_stream{
    width: 100%;
    height: 100%;
    padding: .5rem;
display: flex;
justify-content: center;
align-items: center;

}