// Your variable overrides
/* change the colors */
$primary: #2A246D;
$secondary:#7600FF;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: #BC0E74;


$body-bg: #f3f3f0;
$body-bg: #2A246D;
$body-color: #7600FF;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";


