// Your variable overrides
/* change the colors */
$primary: rebeccapurple;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0;
// $body-bg: #000;
// $body-color: #111;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";


